@import "tailwindcss";

body {
  font-family: 'Cairo', sans-serif;
}

/* إخفاء شريط التمرير للمكونات التي تدعم التمرير العرضي */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

@media print {
  body * {
    visibility: hidden;
  }
  .PrintSection, .PrintSection * {
    visibility: visible;
  }
  .PrintSection {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
  }
  .hide-on-print {
    display: none !important;
  }
}
